.divA {
    align-items: center;
    background-color: rgba(133, 55, 55, 0.815);
    border: solid black 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 20px 40px;
    justify-content: center;
    width: 60%;
}

.divB {
    background-color: white;
    border: solid rgb(4, 4, 68) 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 90%;
}

.pC {
    color: blue;
    font-weight: 600;
    font-size: 25px;
    font-family: Arial;
}

.container {
    margin-top: 50px;
    height: 30vh;
    width: 100%;
}

.box1 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
}

.box2 {
    display: flex;
    justify-content: space-around;
    margin: 0 4%;
    height: auto;
}

.divD {
    background-color: blue;
    height: 20px;
    width: 100%;
}

.divE {
    background-color: purple;
    height: 20px;
    margin: 0 auto;
    width: 50%;
}

.divF {
    background-color: green;
    height: 20px;
    margin: 0 auto;
    width: 90%;
}

.divG {
    background-color: yellow;
    height: 20px;
    margin: 0 auto;
    width: 75%;
}

.divH {
    background-color: red;
    height: 20px;
    width: 100%;
}

.divI {
    background-color: rgb(63, 124, 238);
    height: 20px;
    width: 100%;
}

.divJ {
    background-color: rgb(95, 255, 47);
    width: 100%;
    height: 20px;
}