body{
    background-color: #c5c5c5;
}

.divB{
    background-color: white;
    border: dotted black 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 50vw;
}
.divC{
    background-color: yellow;
    height: 50px;
    width: 30%;
}
.divD{
    background-color: rgb(255, 115, 0);
    height: 100px;
    width: 30%;
}
.divE{
    background-color: rgb(0, 177, 0);
    color: white;
    margin: 50px 0 0 50px;
    padding: 50px;
    font-weight: 30px;
}