.divA {
    background-color: #c7ff5f;
    height: 500px;
    width: 500px;
}

.divA .divB {
    background-color: #ffb560;
    height: 50%;
    width: 50%;
}

.divB .pC {
    background-color: lightcyan;
    color: black;
    font-family: Arial;
    font-weight: 25px;
}

.divD {
    background-color: rgb(212, 173, 141);
    height: 50vh;
    width: 50%;
}

.divD .divE {
    background-color: rgb(193, 100, 255);
    height: 50%;
    width: 75vw;
}